.titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  background-color: #337ab7;
  color: #fff;
  font-family: sans-serif;
  -webkit-app-region: drag; /* Habilita el arrastre de la ventana */
}

.titlebar-draggable {
  flex-grow: 1;
  padding-left: 10px;
  -webkit-app-region: drag;
}

.titlebar-buttons {
  display: flex;
  -webkit-app-region: no-drag; /* Desactiva el arrastre en los botones */
}

.titlebar-buttons .jqx-button {
  background: transparent !important;
  border: none;
  color: #fff !important;
  -webkit-app-region: no-drag;
}

.titlebar-buttons .jqx-button:hover {
  background-color: #2e6da4 !important;
}
.titlebar-buttons .jqx-button.jqx-danger:hover {
  background-color: rgba(218, 5, 5, 0.863) !important;
}
.titlebar-buttons .jqx-button:active {
  background-color: #337ab7 !important;
}